# Ignore pycache folders
__pycache__/
*/__pycache__/

#Ignore snakemake
.snakemake/

#Ignore generated CAMISIM's input files
scripts/tests/input_population/abundance.tsv
scripts/tests/input_population/config.ini
scripts/tests/input_population/genome_to_id.tsv
scripts/tests/input_population/genomes_info.json
scripts/tests/input_population/metadata.tsv

#Ignore CAMISIM's output directory
scripts/tests/input_population/out/
